.webview-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;

  .webview-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    
    webview {
      width: 100%;
      height: 100%;
      border: none;
      z-index: 1;
    }
  }
} 