<div *ngFor='let tab of tabs' [style.width]='screenWidth + "px"'>
    <div [hidden]='!currentTab || tab.id != currentTab.id' [style.width]='screenWidth + "px"'>
        <web-view [tab]='tab' 
            [screenHeight]='screenHeight'
            [screenWidth]='screenWidth'
            (onNewUrl)='onNewUrl.emit({eventValue: $event, eventName: "newurl", tab: tab, app: null})'
            (onTitleChanged)='onTitleChanged.emit({eventValue: $event, eventName: "titlechanged", tab: tab, app: null})'
            (onIconChanged)='onIconChanged.emit({eventValue: $event, eventName: "iconchanged", tab: tab, app: null})'
            (onUrlChanged)='onUrlChanged.emit({eventValue: $event, eventName: "urlchanged", tab: tab, app: null})'
            (onContextMenu)='onContextMenu.emit($event)'>
        </web-view>
    </div>
</div>