.webview-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;

  .webview-content {
    width: 100%;
    height: 100%;
    
    webview {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
} 