<button class="btn btn-default btn-sm" style="margin-top: 6px;" (click)='onBackClick.emit(currentApp)'>
    <i class="glyphicon glyphicon glyphicon-menu-left" style="margin-top: 2px;"></i>
</button>
<button class="btn btn-default btn-sm" style="margin-top: 6px;" (click)='onNextClick.emit(currentApp)'>
    <i class="glyphicon glyphicon glyphicon-menu-right" style="margin-top: 2px;"></i>
</button>
<span *ngIf='currentApp'>
    <div *ngFor='let tab of currentApp.tabs; let i = index' class='tab-on-nav' [style.backgroundColor]='currentApp.currentTab && tab.url == currentApp.currentTab.url ? "#eee": "#ddd"'>
        <i class="glyphicon glyphicon-remove pull-left" style="margin-top: 2px;"></i> {{tab.title}}
    </div>
</span>