/*styles for home content only*/
.app-on-tab {
    padding: 2px 3px 3px 3px;
    display: inline-block; 
    width: 150px;
    height: 25px;
    text-align: center;
    margin-top: 1px;
    vertical-align: bottom;
    border-left: 1px solid #ccc;
    cursor: pointer;    
}
.bar {
    height: 28px;
    background-color:chocolate;
}