<app-bar [apps]='eventApps | async' [currentApp]='eventCurrentApp | async' (onAppSelect)='gotoApp($event)' (onAppClose)='closeApp($event)'
  (onBtnAddApp)='appSearch.show()'>
</app-bar>
<br>
<app-nav [currentApp]='eventCurrentApp | async' (onNextClick)='onNextClick($event)' (onBackClick)='onBackClick($event)' (onGotoTab)='onGotoTab($event)'
  (onCloseTab)='onCloseTab($event)'></app-nav>
<app-webview [apps]='apps | async' [currentApp]='eventCurrentApp | async' (onNewUrl)='onNewUrl($event)' (onTitleChanged)='onTitleChanged($event)'
  (onIconChanged)='onIconChanged($event)' (onContextMenu)='onContextMenu($event)'>
</app-webview>
<app-search #appSearch (onSearch)='doSearch($event)'></app-search>
<a href='http://vnexpress.net'>vn</a>
<div class="dropdown" id='context-menu' aria-expanded="true">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>